<div class="container">
  <div class="back">
    <%= link_to "<", category_path(@category) %>
  </div>

	<div class="list">
		<h2>New transaction</h2>
	</div>
    
  <div>
    <%= form_with model: @payment, url: category_payments_path do |form| %>
      <div>
        <%= form.label :name %><br>
        <%= form.text_field :name, class: "field" %>
      </div>
      <div>
        <%= form.label :amount %><br>
        <%= form.number_field :amount, class: "field" %>
      </div>
      <div>
        <%= form.label "Categories" %><br>
        <%= form.collection_select(:category_ids, current_user.categories, :id, :name, {}, { multiple: true, class: "field" }) %>
      </div>
      <div>
        <%= form.submit "Create transaction", class: "add-new" %>
      </div>
    <% end %>
  </div>
</div>