<div class="container">

  <div class="back">
    <%= link_to "<", categories_path %>
  </div>

  <div class="list">
    <h2>Transactions</h2>
    <h3><%= @category.name %></h3>
    <p>$<%= @sum %></p>
  </div>

  <div >
    <% @payments.each do |payment| %>
      <div class="list">
        <%= payment.name %>
        <p>$<%= payment.amount %></p>
      </div>
    <% end %>
  </div>

  <div class="add-new">
    <%= link_to "Add new transaction", new_category_payment_path(@category) %>
  </div>
</div>
